 
@charset "ISO-8859-1";

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #EEEEEE;
}
/************  NAIGATION  ************/



.logo a{
    display: inline-block;
    padding: 5px;


}
.logo a img {
    height: 50px;
    width: auto;
}
#nav-items li {
    display: block;
    
   
}



/************  HEADER  ************/

#vuni {
  margin-left: 10em;
}
#vuni img {
	width : 662px;
	height : 286px;
}
#hello {
    margin-left: 10%;
}



/************  Form  ************/
#form {
    margin-top: -20% ;
}
input[type="text"],  input[type="password"],  input[type="email"],  #select_role {
    border: 0;
    background: black;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #F7CD53;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: aliceblue;
    border-radius: 24px;
    transition: 0.4s;
}
    input[type="text"]:focus,  input[type="password"]:focus,  input[type="email"]:focus {
        width: 330PX;
        border-color: #F7CD53;
    }
 input[type="submit"] {
    border: 0;
    background: black;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #F7CD53;
    padding: 14px 40px;
    outline: none;
    color:#F7CD53;
    font-weight: bold;
    overflow: hidden;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
 input[type="submit"]:hover {
        background: #F7CD53;
        color: #F7CD53;
        box-shadow: 0 0 10px #F7CD53, 0 0 40PX #F7CD53, 0 0 40px #F7CD53;
   
} 
@media screen and (max-witdh: 1050px){
     .container{
         grid-gap: 5rem;
     }
}
@media screen and (max-witdh: 1000px) {
    .form {
        width: 310px;
    }
    
}
@media screen and (max-witdh: 900px) {
    .form {
        justify-content:center;
    }
}
@media (max-width : 1300px)
{
    #pic {
        display: none;
    }
}